<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9UG5CzrFZ9KUdHrNDVcYm8HtRyAOVPIY</string>
	<key>GCM_SENDER_ID</key>
	<string>1083180735307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aiblueribbon.mia</string>
	<key>PROJECT_ID</key>
	<string>mia-family-assistant</string>
	<key>STORAGE_BUCKET</key>
	<string>mia-family-assistant.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083180735307:ios:28765a33afc19170ece6ce</string>
</dict>
</plist>